<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Deportistas</title>
</head>
<body>
    <a href="agregardeport">Agregar un nuevo deportista</a>
    <br><br>
    <table border>
        <thead>
            <tr>
                <th>Id deportista</th>
                <th>Nombre</th>
                <th>Estatura</th>
                <th>Peso</th>
                <th>Fecha de nacimiento</th>
            </tr>
        </thead>
        <tbody>
            {%for art in res %}
                <tr>
                    <td>{{art[0]}}</td>
                    <td>{{art[1]}}</td>
                    <td>{{art[2]}}</td>
                    <td>{{art[3]}}</td>
                    <td>{{art[4]}}</td>
                    </td>
                    <td>
                        <a href="editardeportista/{{art[0]}}">Editar</a>
                    </td>
                    <td>
                        <a onclick="return confirm('¿Seguro quiere eliminar este artículo?')" href="borrardeportista/{{art[0]}}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>